[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-restful = "*"
marshmallow = "*"
flask-bcrypt = "*"
sqlalchemy = "*"
flask-jwt-extended = "*"
requests = "*"
boto3 = "*"
python-dotenv = "*"
flask-migrate = "*"
flask-script = "*"
faker = "*"

[requires]
python_version = "3.8"

[scripts]
init_db = "init_db.py"
